:root {
     --neutral:#0f0e17;
     --base-100:#fffffe;
     --neutral-focus:black;
     --primary: #ff8906;
     --secondary: #a7a9be;
     --accent: #fffffe;
}

* {
    margin: 5;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: var(--accent);
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

footer {
    border-top: 3px solid black;
    font-size: 25px;
    padding: 30px;
}
