

body {
    background-color: lightblue;
    text-align: center;
}
form {
    max-width: 500px;
    text-align: left;
    align-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}
input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.input-elements {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
select {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
#name-label #email-label #number-label #name #email #number {
    display:block;
}

h1 {
color: brown;
font-size: 4rem;
}

p {
    font-size: 2rem;
}
